@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 25, 26, 27;
  --primary-rgb: 254, 160, 124;
  --secondary-rgb: 12, 182, 230;
  --padding: 0.5rem 0.75rem;
  --radius: 0.3rem;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

input {
  background-color: rgb(var(--background-rgb));
  padding: var(--padding);
  border-radius: var(--radius);
  border-width: 2px;
  border-color: rgb(var(--secondary-rgb));
}

button[type='button'],
button[type='submit'] {
  padding: var(--padding);
  background-color: rgb(var(--primary-rgb));
  border-radius: var(--radius);
  font-weight: bolder;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

nav span {
  color: rgb(var(--secondary-rgb));
}

.msg-list {
  border-width: 2px;
  border-color: rgb(var(--secondary-rgb));
  height: 100%;
  background-color: darkslategrey;
  max-height: 60vh;
}

.msg-other {
  background-color: rgb(var(--primary-rgb));
}

.msg-own {
  background-color: rgb(var(--secondary-rgb));
}
